.App {
  text-align: center;
}

.explanation {
  display: flex;
  margin-top: 20px;
  width: 35%;
  padding: 20px;
  background-color: greenyellow;
  align-items: flex-start;
  justify-content: safe;
  border-radius: 10px;
  flex-direction: column;
}

.explanation-wrong {
  display: flex;
  margin-top: 20px;
  width: 35%;
  padding: 20px;
  background-color: red;
  align-items: flex-start;
  justify-content: safe;
  border-radius: 10px;
  flex-direction: column;
}
